<div class="container"><br>
  <h1> Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{nombre}}</td>
        <td>uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>
      <tr>
        <td> {{nombre}}</td>
        <td>lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>
      <tr>
        <td> {{nombre}}</td>
        <td>slice:3</td>
        <td>{{nombre | slice:3}}</td>
      </tr>
      <tr>
        <td> {{nombre}}</td>
        <td>slice:0:3</td>
        <td>{{nombre | slice:0:3}}</td>
      </tr>
      <tr>
        <td> {{pi}}</td>
        <td>number</td>
        <td>{{pi | number}}</td>
      </tr>
      <tr>
        <td> {{pi}}</td>
        <td>number '3.0-0'</td>
        <td>{{pi | number:'3.0-0'}}</td>
      </tr>

      <tr>
        <td> {{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency: 'EUR': 'code'}}</td>
      </tr>

      <tr>
        <td>pipe async</td>
        <td>async</td>
        <td>{{valorPromesa | async}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date</td>
        <td>{{fecha | date}}</td>
      </tr>

      <tr>
          <td>{{nombre2}}</td>
          <td>capitalice</td>
          <td>{{nombre2 | capitalice:'1':'2':'a'}}</td>
        </tr>

      <tr>
          <td>{{contrasenna}}</td>
          <td>contrasennaPipe</td>
          <td>{{contrasenna | contrasennaPipe: activar}}</td>
            <button type="button" (click)="activar = !activar">{{ activar ? 'Mostrar' : 'Ocultar'}}</button>
        </tr>
    </tbody>
  </table>

  <h4>Slice aplicado a un arreglo dentro de un ngFor</h4>
  <ul>
    <li *ngFor="let item of miArreglo | slice:2:6"> {{item}} </li>
  </ul>

  <h4>JsonPipe</h4>
  <ul>
    <pre> {{object | json}} </pre>
  </ul>

  <h4>Youtube <small>sanitece una url con pipe personalizado</small></h4>
  <iframe  width="560" height="315" [src]=" video | domSeguro: 'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>
</div>
